button {
    padding: 4px 8px;
    border-radius: 4px;

    transition: all 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
        outline: 2px solid #444;
    }
}

.primary {
    background: #333;

    &:hover {
        background: #404040;
    }
}

.ghost {
    background-color: transparent;

    &:hover {
        background-color: #404040;
    }
}

.icon {
    padding: 4px;
}
