input {
    font-size: 20px;
    line-height: 28px;

    height: 40px;
    width: 300px;
    border-radius: 8px;
    padding: 0 0 0 16px;

    background-color: #333;
}

input[type='number'] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
